html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

#root,
.attr,
.layout {
  min-height: 100%;
  height: 100%;
}

.layout > div {
  margin-bottom: 1pt;
}

.layout > div:last-child {
  margin: 0;
}
